@model TaskViewModel

@{
    ViewData["Title"] = "TaskItem";
}

<h3>Create</h3>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" class="form-control" />
        <span asp-validation-for="DueDate"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<div><a asp-action="Index">Back To List</a></div>
