@model IEnumerable<TaskMemento>

@{
    ViewData["Title"] = "TaskItem";
}

<h2>History</h2>
<h4>Task Item</h4>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Action</th>
            <th>Action Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.ActionDate</td>
                <td>@task.Description</td>
                <td>@task.IsCompleted</td>
                <td><a asp-action="Restore">Restore</a></td>
            </tr>
        }
    </tbody>
</table>

<div><a asp-action="Index">Back To List</a></div>