@model IEnumerable<TaskMemento>

@{
    ViewData["Title"] = "TaskItem";
}

<h2>History</h2>
<h4>Task Item</h4>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Action Date</th>
            <th>Description</th>
            <th>Is Completed</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var memento in Model)
        {
            <tr>
                <td>@memento.ActionDate</td>
                <td>@memento.Description</td>
                <td>@memento.IsCompleted</td>
                <td><a asp-action="Restore" asp-route-mementoId="@memento.Id">Restore</a></td>
            </tr>
        }
    </tbody>
</table>

<div><a asp-action="Index">Back To List</a></div>